<%= form_for @wiki do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true,   class: 'form-control', placeholder: "Enter wiki name" %>
    <%= f.label :body %>
    <%= f.text_area :body,                      class: 'form-control', placeholder: "Enter wiki content" %>
    <p>**bold** _italic_ `code` >quote * - bullet list"</p>
    <%= f.label :private %>
    <%= f.check_box :private,                   class: 'checkbox' %>
  </div>
  <%= f.submit "Save", class: 'btn btn-success' %>
  <%= link_to "Cancel", wikis_path, class: 'btn btn-success' %>
<% end %>
